{% extends 'forms/main.html' %}
{% load static %}
{% block title %}Add Post{% endblock %}

{% block content %}
<body style="background-color: #E2E2E2;">

        <div class="container">
           <div class="row">

                <div class="col-md-8 col-md-offset-2">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form.media}}
                        <h2>Enter Post Details</h2><hr />
                       <br />
                        <div class="form-group">
                            <label>Enter Title</label>
                            <input class="form-control" type="text" name="title">
                        </div>
                        <div class="form-group">
                            <label>subtitle</label>
                            <input class="form-control" type="text" name="sub_heading">
                        </div>
                        <div class="form-check">
                            <label>Lead</label>
                            {{form.lead}}
                        </div>
                        <div class="form-group">
                            <label>Categories</label>
                            {{form.categories}}
                        </div>
                        <div class="form-group">
                            <label>Body</label>
                            {{form.body}}
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-4">Display Image</label>
                            <div class="">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;"><img src="" alt="" /></div>
                                    <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                    <div>
                                        <span class="btn btn-file btn-primary"><span class="fileupload-new">Select image</span><span class="fileupload-exists">Change</span><input name="image" type="file"></span>
                                        <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload">Remove</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-info">Submit </button>
                    </form>

                </div>
           </div>
        </div>

</body>

{% endblock %}

