{% extends 'staff/main.html' %}
{% load static %}
{% block title %}Home{% endblock %}


{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
      </div>
      <section class="container-fluid">
          <div class="row">
              {% if posts %}
              <div class="col-sm-6 col-lg-4">
                  <a class="dash-link"  href="{%url 'content:s_posts'%}">
                  <div class="card dash-item bg-success">

                      <div class="card-header">
                          <div class="dash-icon-post">
                            <i class="nav-icon fas fa-pen"></i>
                          </div>
                          <div class="">
                              Posts
                              <p>{{posts.count}}</p>
                          </div>
                      </div>

                  </div>
                  </a>
              </div>
              {%else%}
              {%endif%}
              {% if post_cats %}
              <div class="col-sm-6 col-lg-4">
                  <a class="dash-link"  href="{%url 'content:s_post_cats'%}">
                  <div class="card dash-item bg-info">

                      <div class="card-header">
                          <div class="dash-icon-post-cats">
                            <i class="nav-icon fas fa-layer-group"></i>
                          </div>Post Cathegories
                          <div class="">
                              <p>{{post_cats.count}}</p>
                        </div>
                      </div>

                  </div>
                  </a>
              </div>
              {%else%}
              {%endif%}
              {% if staff %}
              <div class="col-sm-6 col-lg-4">
                  <a class="dash-link"  href="{%url 'content:s_staff'%}">
                  <div class="card dash-item bg-warning">

                      <div class="card-header">
                          <div class="dash-icon-staff">
                            <i class="nav-icon fas fa-users"></i>
                          </div>Staff
                          <div class="">
                              <p>{{staff.count}}</p>
                      </div>
                      </div>

                  </div>
                  </a>

              </div>
              {%else%}
              {%endif%}
              {% if slides %}
              <div class="col-sm-6 col-lg-4">
                  <a class="dash-link"  href="{%url 'content:s_slides'%}">
                  <div class="card dash-item bg-danger">

                      <div class="card-header">
                          <div class="dash-icon-slides">
                            <i class="nav-icon fas fa-users"></i>
                          </div>Slides
                          <div class="">
                              <p>{{slides.count}}</p>
                        </div>
                      </div>

                  </div>
                  </a>

              </div>
              {%else%}
              {%endif%}
          </div>
      </section>

</main>
{% endblock %}