<!doctype html>
<html lang="en">
  <head>
    {%include 'meta.html'%}
    <title>{% block title %} {% endblock %}</title>
    {% load static %}
    {%include 'staff/css.html'%}


    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/dashboard/">

  </head>
  <body>

{% include 'staff/navbar.html' %}

<div class="container-fluid">
  <div class="row">
    {%include 'staff/sidebar.html'%}


    {% block content %}

    {% endblock %}

  </div>
</div>


    {%include 'staff/js.html'%}

      <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous">

      </script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous">

  </body>
</html>
