{% extends 'staff/main.html' %}
{% load static %}
{% block title %}Posts{% endblock %}


{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    {% if posts %}
        <div class="card">
      <div class="card-header d-flex justify-content-between flex-wrap">
          <span class="fs-3"><i class="nav-icon fas fa-pen"></i> Posts</span>
        <span class="flex-end center">
          <a href="{% url 'content:add_post' %}" type="button" class="btn btn-sm btn-outline-secondary btn-dark"><i class="fas fa-plus"></i> post</a>
        </span>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-striped table-sm text-center" >
          <thead>
            <tr>
              <th scope="col">S/N</th>
              <th scope="col">Title</th>
              <th scope="col">Author</th>
              <th scope="col">Categories</th>
              <th scope="col">Date added</th>
              <th scope="col">Controls</th>
            </tr>
          </thead>

          <tbody>
          {% for p in posts %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{p.title}}</td>
              <td>{{p.author.title}} {{p.author.user.first_name}} {{p.author.user.last_name}}</td>
              <td>{% for c in p.categories.all%} {{c}},{%endfor%}</td>
              <td>{{p.date_added}}</td>
              <td>
                <div class="btn-group">
                <a href="{% url 'content:a_post' p.post_id %}" type="button" class="btn btn-sm btn-outline-secondary btn-light">
                    <i class="fas fa-folder"></i> View
                </a>
                <a href="{% url 'content:update_post' p.post_id %}" type="button" class="btn btn-sm btn-outline-secondary btn-warning">
                    <i class="fas fa-pencil-alt"></i> Edit
                </a>
                <a href="{% url 'content:delete_post' p.post_id %}" type="button" class="btn btn-sm btn-outline-secondary btn-danger">
                    <i class="fas fa-trash"></i> Delete
                </a>
              </div>
              </td>
            </tr>
          {%endfor%}
          </tbody>
        </table>
      </div>
        </div>
    {%else%}
    {%endif%}


</main>
{% endblock %}