<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{%url 'content:s_home'%}">
             <i class="nav-icon fas fa-tachometer-alt"></i>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'content:s_staff'%}">
              <i class="fas fa-user bg-yellow"></i>
              Staff
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'content:s_posts'%}">
              <i class="nav-icon fas fa-book"></i>
              Posts
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'content:post_images'%}">
              <i class="nav-icon fas fa-ellipsis-h"></i>
              Post Images
            </a>
          </li>


        </ul>

<!--        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">-->
<!--          <span>Saved reports</span>-->
<!--          <a class="link-secondary" href="#" aria-label="Add a new report">-->
<!--            <span data-feather="plus-circle"></span>-->
<!--          </a>-->
<!--        </h6>-->
<!--        <ul class="nav flex-column mb-2">-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="#">-->
<!--              <span data-feather="file-text"></span>-->
<!--              Current month-->
<!--            </a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="#">-->
<!--              <span data-feather="file-text"></span>-->
<!--              Last quarter-->
<!--            </a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="#">-->
<!--              <span data-feather="file-text"></span>-->
<!--              Social engagement-->
<!--            </a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="#">-->
<!--              <span data-feather="file-text"></span>-->
<!--              Year-end sale-->
<!--            </a>-->
<!--          </li>-->
<!--        </ul>-->
      </div>
    </nav>