<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{%url 'content:s_home'%}">
             <i class="nav-icon fas fa-tachometer-alt"></i>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'content:s_staff'%}">
              <i class="fas fa-users bg-yellow"></i>
              Staff
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'content:s_posts'%}">
              <i class="nav-icon fas fa-pen"></i>
              Posts
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'content:post_images'%}">
              <i class="nav-icon fas fa-camera"></i>
              Post Images
            </a>
          </li>


        </ul>
      <form class="form-inline w-100" method="get">
                  <div class="input-group input-group-sm">
                    <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append" style="display: flex;">
                      <button class="btn btn-navbar" type="submit">
                        <i class="fas fa-search"></i>
                      </button>

                    </div>
                  </div>
                </form>
        <div class="navbar-nav">
          <div class="nav-item text-nowrap">
            <a class="nav-link px-3" href="{%url 'content:logout'%}">Sign out</a>
          </div>
        </div>
      </div>
    </nav>