{% load static %}
{% block footer %}
	<footer>
     	<div class="footer-main">

   		<div class="row">  

	      	<div class="col col-md-8 tab-full footer-about">
				<div class="tab-full contact-info end animate-this">

					<div class="cinfo">
						<div class="row">
							<span class="col col-sm-1 icon"><i class="icon-mail"></i></span>
							<span class="col col-sm-8">leoklems@aol.com</span>
						   </div>
						<div class="row">
							<span class="col col-sm-1 icon"><i class="icon-phone"></i></span>
							<span class="col col-sm-8"><a href="tel:+234 8108 520 402">(+234) 081 0852 0402</a></span>
						   </div>
					</div> <!-- end cinfo -->

				 </div> <!-- end cinfo -->

		      </div> <!-- end footer-about -->

	      	<div class="col col-md-4 tab-full footer-social animate-this">
	      		<ul class="list-links">
	      			<li>
	         	<a href="#"><i class="fa fa-facebook-square"></i></a>
	         </li>
	         		<li>
	         	<a href="#"><i class="fa fa-twitter"></i></a>
	         </li>
					</ul>

	      	</div>

	      </div> <!-- end row -->

   	</div> <!-- end footer-main -->

   	<div class="footer-bottom animate-this">

      	<div class="row">

      		<div class="col-twelve">
	      		<div class="copyright">
					<span>© Copyright <span class="footer-brand">Xiro</span> TECH 2021.</span>
		         	<span>Design by <a href="{% url 'content:home' %}">leoklems</a></span>
					<span>Template by <a href="http://www.styleshout.com/">styleshout</a></span>
		         </div>		               
	      	</div>

      	</div>   	

      </div> <!-- end footer-bottom -->

      <div id="go-top">
		   <a class="smoothscroll" title="Back to Top" href="#top">
		   	<i class="fa fa-long-arrow-up" aria-hidden="true"></i>
		   </a>
		</div>		
   </footer>
{% endblock %}
