<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>
{%include 'meta.html'%}
    <title>{% block title %} {% endblock %}</title>
    {% load static %}
    {%include 'css.html'%}
   {%include 'js-top.html'%}

  {%include 'favicon.html'%}

</head>

<body id="top">
 {% include 'side-nav-others.html' %}
    {% block content %}

    {% endblock %}

   <div id="preloader">
    	<div id="loader"></div>
   </div>

   {%include 'js.html'%}

</body>

</html>