 {% extends 'main-others.html' %}
{% load static %}
{% block title %}Post detail{% endblock %}

{% block content %}
    <!-- blogs
   ================================================== -->
   <section id="portfolio">
       <div class="row py-5 post-dit-sec">
            <div class="intro-wrap col-md-9">
                <div class="card card-post-dit-div">
                    <div class="post-card-lead">
                        <p class="card-text blog-title"><span class="blog-caption-sm-lead card-div-title">{{object.title}}: {{object.sub_heading}}</span></p>

                        <div class="d-flex justify-content-between align-items-center">
                            <span class="card-title card-div-date-lead">{{object.date_added.date}} | By <strong>{{object.author.title}} {{object.author.user.first_name}} {{object.author.user.last_name}}</strong></span>
                        </div>
                        <p class="cat-show">
                            {% for c in object.categories.all %}
                                <span class="badge bg-{% cycle 'warning' 'success' 'info' %}">{{c}} </span>
                            {%endfor%}
                        </p>
                    </div>
                    <img class="card-img blog-img d-xs-block d-md-none" src="{{object.image.url}}">

                    <div class="card-body post-dit-text">
                        <hr>
                        <p class="card-text">
                            {{object.body | safe}}
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="container">
                    <img class="card-img blog-img d-none d-xs-none d-md-block" src="{{object.image.url}}">
                </div>
            </div>
       </div>
	   {% if posts %}
	   <div class="row py-5">
   		<div class="container">
            <h1 class="animate-this">Hot Topics</h1>
            <hr>
				{%for b in posts %}

				<div class="col-md-3 col-sm-6 col-xs-6 col-sm">
<!--				  		<div class="card ">-->
<!--					<img class="card-img blog-img" src="{{b.image.url}}">-->

<!--					<div class="card-body">-->

<!--					  <div class="d-flex justify-content-between align-items-center">-->
<!--						<small class="text-date">{{b.date_added}}</small>-->
<!--					  </div>-->
<!--						<p class="card-text "><span class="blog-caption">{{b.title}}: {{b.sub_heading}}</span></p>-->
<!--					</div>-->
<!--				  </div>-->
                    <a href="{%url 'content:post' b.post_id %}">
                                <div class="card post-div animate-this">
                                    <img src="{{b.image.url}}" class="zoom img-fluid s-img-sm" alt="">

                                    <div class="card-body card-img-overlay post-card d-none d-xs-none d-md-block">

                                        <div class="d-flex justify-content-between align-items-center">
                                            <span class="card-title card-div-date">{{b.date_added}}</span>
                                        </div>
                                        <p class="card-text blog-title"><span class="blog-caption-sm card-div-title">{{b.title}}: {{b.sub_heading}}</span></p>
                                    </div>
                                     <div class="card-body post-card d-xs-block d-md-none">

                                        <div class="d-flex justify-content-between align-items-center">
                                            <span class="card-title card-div-date">{{b.date_added}}</span>
                                        </div>
                                        <p class="card-text blog-title"><span class="blog-caption-sm card-div-title">{{b.title}}</span></p>
                                    </div>

                                </div>
                    </a>
				</div>
				{%endfor%}
			<!-- end folio-wrap -->
   		</div> <!-- end twelve -->
   	</div> <!-- end portfolio-content -->
       {%else%}
        {%endif%}
   </section>
	<!-- footer
   ================================================== -->
   {%include 'footer.html'%}
{% endblock %}