{% load static %}
{% load cache %}
<header>

   	<div class="header-logo">
	      <a href="{% url 'content:home' %}"></a>
	   </div>

		<a id="header-menu-trigger" href="#0">
		 	<span class="header-menu-text">Menu</span>
		  	<span class="header-menu-icon"></span>
		</a>

		<nav id="menu-nav-wrap">

			<a href="#0" class="close-button" title="close"><span>Close</span></a>

			<ul class="nav-list">
				<li class=""><a href="{% url 'content:home' %}"><span class="icon menu-icon"><i class="icon-home"></i></span>Home</a></li>
				<li class=""><a class="" href="{% url 'content:posts' %}"><span class="icon menu-icon"><i class="icon-desktop"></i></span>Tech stories</a></li>
			</ul>

			<ul class="header-social-list">
	         <li>
	         	<a href="#"><i class="fa fa-facebook-square"></i></a>
	         </li>
	         <li>
	         	<a href="#"><i class="fa fa-twitter"></i></a>
	         </li>
	      </ul>

		</nav>  <!-- end #menu-nav-wrap -->

	</header> <!-- end header -->