{% load static %}
{% load cache %}
<header>

   	<div class="header-logo">
	      <a href="{% url 'content:home' %}"></a>
	   </div>

		<a id="header-menu-trigger" href="#0">
		 	<span class="header-menu-text">Menu</span>
		  	<span class="header-menu-icon"></span>
		</a>

		<nav id="menu-nav-wrap">

			<a href="#0" class="close-button" title="close"><span>Close</span></a>

			<ul class="nav-list">
				<li class="current"><a href="{% url 'content:home' %}" title="">Home</a></li>

<!--				<li><a class="smoothscroll" href="#contact" title="">Contact</a></li>-->
			</ul>

			<ul class="header-social-list">
	         <li>
	         	<a href="#"><i class="fa fa-facebook-square"></i></a>
	         </li>
	         <li>
	         	<a href="#"><i class="fa fa-twitter"></i></a>
	         </li>
	      </ul>

		</nav>  <!-- end #menu-nav-wrap -->

	</header> <!-- end header -->