{% load static %}
{% load cache %}
<header>

   	<div class="header-logo">
	      <a href="{% url 'content:home' %}"></a>
	   </div>

		<a id="header-menu-trigger" href="#0">
		 	<span class="header-menu-text">Menu</span>
		  	<span class="header-menu-icon"></span>
		</a>

		<nav id="menu-nav-wrap">

			<a href="#0" class="close-button" title="close"><span>Close</span></a>

<!--	   	<h3><img src="{% static 'images/logo.png'%}" style="height: 1em;">.</h3>-->

			<ul class="nav-list">
				<li class="current"><a class="smoothscroll" href="#home" title=""><span class="icon menu-icon"><i class="icon-home"></i></span>Home</a></li>
				<li class="current"><a class="" href="{% url 'content:posts' %}" title=""><span class="icon menu-icon"><i class="icon-desktop"></i></span>Tech stories</a></li>
				<li><a class="smoothscroll" href="#about" title=""><span class="icon menu-icon"><i class="icon-cube"></i></span>About</a></li>
				<li><a class="smoothscroll" href="#services" title=""><span class="icon menu-icon"><i class="icon-link"></i></span>Services</a></li>

<!--				<li><a class="smoothscroll" href="#contact" title="">Contact</a></li>-->
			</ul>

<!--			<p class="sponsor-text">-->
<!--				Looking for an awesome and reliable webhosting? Try <a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT">DreamHost</a>.-->
<!--				Get <span>$50 off</span> when you sign up with the promocode <span>styleshout</span>.-->
<!--				&lt;!&ndash; Simply type	the promocode in the box labeled “Promo Code” when placing your order. &ndash;&gt;-->
<!--			</p>-->

			<ul class="header-social-list">
	         <li>
	         	<a href="#"><i class="fa fa-facebook-square"></i></a>
	         </li>
	         <li>
	         	<a href="#"><i class="fa fa-twitter"></i></a>
	         </li>
<!--	         <li>-->
<!--	         	<a href="#"><i class="fa fa-instagram"></i></a>-->
<!--	         </li>-->
<!--            <li>-->
<!--            	<a href="#"><i class="fa fa-behance"></i></a>-->
<!--            </li>-->
<!--	         <li>-->
<!--	         	<a href="#"><i class="fa fa-dribbble"></i></a>-->
<!--	         </li>-->
	      </ul>

		</nav>  <!-- end #menu-nav-wrap -->

	</header> <!-- end header -->